.black
{
    background-color: black;
    color: white;
    border: solid white 2px;
}
p
{
    text-align: center;
}
#row1
{
    height: 75vh;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: -62px;
}
#names
{
    margin-top: 5vh;
    font-size: 15px;
}
i 
{
    font-size: 70px;
}
#links
{
    height: 70px;
}
#email
{
    position: absolute;
    top: 0px;
    right: 5px;
    z-index: 10;
    color: black;
}
#tell
{
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 10;
    color: black;
}
#precents
{
    font-size: 15px;
}